    .threatlist{
    width: 1250px;
    background: #EDEDEF;
    margin-top: 42px;
    border: solid 2px #8E8E8F;
    border-radius: 9px;
    padding: 10px;
    width: 1025px;
}

    .text{
    width: 1250px;
    background: #EDEDEF;
    margin-bottom: 20px;
    position: absolute;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    border: solid 2px #8E8E8F;
    padding: 10px;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    width: 1025px;
}

    .textfu{
    width: 1250px;
    background: #EDEDEF;
    margin-bottom: -54px;
    position: absolute;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    border: solid 2px #8E8E8F;
    padding: 10px;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    width: 1025px;
}


#interview .news{    
    border: 1px solid #8E8E8F;
    border-radius: 9px;
    border-top-left-radius: 0px;
    background: #EDEDEF;
    position: relative;
    padding: 15px;
    margin-top: -5px;
    height: 150px;
    width: 800px;
  }

#interview .title{    
    border: 1px solid #8E8E8F;
    width: 200px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    margin-bottom: -15px;
    background: #EDEDEF;
    padding: 5px;
    overflow:hidden;
  }

#interview .date{
    margin-right: 815px;
    border: 1px solid #8E8E8F;
    margin-left: 210px;
    margin-bottom: -33px;
    width: 263px;
    height: 15px;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    border-top-right-radius: 9px;
    border-top-left-radius: 0px;
    background: #EDEDEF;
    padding: 5px;
  }

    .question{
    margin-bottom: 23px;
    margin-top: 23px;
    font-weight: bold;
    font-style: italic;
    color: #333333;
    font-size: 13px;
    /* text-shadow: 3px 3px 15px #292929;*/
}
    .what{
    font-family: verdana;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 9px;
    margin-left: 10px;
}
    .rules{
    font-family: verdana;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 7px;
    margin-left: 10px;
}


    .box1{
    width: 1020px;
    background: white;
    margin-top: 55px;
    border: solid 1px black;
    border-radius: 9px;
    border-bottom-right-radius: 0px;
    padding: 10px;
    height: 950px;
}

    .box2{
    background: white;
    margin-top: 40px;
    border: solid 1px black;
    padding: 10px;
    width: 235px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    float: right;
    margin-right: 63px;
    height: 950px;
}

    .news{
    width: 1250px;
    background: white;
    margin-bottom: 0px;
    position: absolute;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    border: solid 1px black;
    padding: 10px;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    width: 1025px;
}
